*{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');
.container{
  background-color: rgb(208, 204, 204);
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 8vmax;
  box-sizing: border-box;
 
}
.container > form{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: rgb(52, 52, 52);
  border-radius: 5px;
  box-shadow: 20px 20px 50px 15px rgb(54, 52, 52);
 
  
}
input,textarea,button{
  padding: 20px;
  border:1px solid rgb(240, 42, 42) ;
  border-radius: 5px;
  margin: 10px;

}
button{
  border: none;
  cursor: pointer;
  background-color: rgb(239, 27, 41);
}


.task{
  display: flex;
  background-color: rgb(52, 52, 52);
  margin: 20px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 10px 10px 50px 10px rgb(54, 52, 52);
 

  
}
.task >div{
  width: 100%;
  margin: 20px;
}
.task button{
  border-radius: 100%;
  
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.list{
  display: flex;
  justify-content: center;
  text-shadow: 5px 5px 5px rgb(103, 102, 102);
  font-size: 3rem;
  color: rgb(52, 52, 52);
}